@model VenomitIT.DAL.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = VenomitIT.Common.NavigationURL.MasterPage;
}
<form method="post" id="frmlogin">
    <div class="form_area form_area_01">

        <ul>

            <li>
                <label>
                    Current Password :</label>

                @Html.PasswordFor(x => x.CurrentPassword)
                @Html.ValidationMessageFor(x => x.CurrentPassword)
            </li>
            <li>
                <label>
                    New Password :</label>

                @Html.PasswordFor(x => x.NewPassword)
                @Html.ValidationMessageFor(x => x.NewPassword)
            </li>
            <li>
                <label>
                    Confirm Password :</label>

                @Html.PasswordFor(x => x.ConfirmNewPassword)
                @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
            </li>
            <li>
                <label>
                </label>

                <label>@ViewBag.Errormessage</label>
            </li>

        </ul>
    </div>
    <div class="btn_box23">
        <input type="submit" id="btnSave" value="" class="save_btn" />

        <div class="p_detail_btn_box p_detail_btn_box_01" style="width: 137px !important;">
            <div class="left_box">
                <input type="submit" id="btnCancel" value="" class="cancel_btn" onclick="Back()" />

            </div>
        </div>
    </div>
</form>
<script>
    function Back() {
        window.location = '@VenomitIT.Common.NavigationURL.AdminHomePage';
    }
</script>
