@model VenomitIT.DAL.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Venom IT</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='@string.Concat(VenomitIT.Common.ConfigHelper.SiteCssPath, "style.css", VenomitIT.Common.ConfigHelper.Version)' rel="stylesheet" type="text/css" />
    <link href='@string.Concat(VenomitIT.Common.ConfigHelper.SiteCssPath, "bootstrap.css", VenomitIT.Common.ConfigHelper.Version)' rel="stylesheet" type="text/css" />
    <link href='@string.Concat(VenomitIT.Common.ConfigHelper.SiteCssPath, "bootstrap-responsive.css", VenomitIT.Common.ConfigHelper.Version)' rel="stylesheet" type="text/css" />
    <script src='@string.Concat(VenomitIT.Common.ConfigHelper.JavaScriptPath, "jquery-1.9.1.js", VenomitIT.Common.ConfigHelper.Version)' type="text/javascript"></script>
    <script src='@string.Concat(VenomitIT.Common.ConfigHelper.JavaScriptPath, "bootstrap.js", VenomitIT.Common.ConfigHelper.Version)' type="text/javascript"></script>
</head>
<body>
    <form id="fromlogin" method="post">
        <!--Header Start-->
        <header id="header">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="logo">
                            <a href="@VenomitIT.Common.NavigationURL.HomePage">
                                <img src="/Images/logo.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Header end-->

        <!--Content Start-->
        <div class="container">
            <div class="row">
                <!-- Start of Main Content Container -->
                <div class="span12">
                    <!-- Start of Main Login Container -->
                    <div class="main_login">
                        <div class="login_container">
                            <!-- Start of Login Top Box -->
                            <div class="login_top_box">
                                <!-- Start of Left heading -->
                                <h2>CMS Web Administration</h2>
                                <!-- End of Left heading -->
                            </div>
                            <!-- End of Login Top Box -->
                            <div class="login_top_bg"></div>
                            <!-- Start of Login Bottom Box -->
                            <div class="login_bottom_box">
                                <div class="login_box">
                                    <h3>Welcome to Venom IT</h3>
                                    <!-- Start of Login Left Box -->
                                    <div class="login_main_left">
                                        <p>Use a valid username and password to gain access to the web administration console. </p>
                                        <div class="lock_box">
                                            <img src="/Admin/images/lock.png" alt="" />
                                        </div>
                                        <asp:label id="lblmsg" runat="server" width="200"></asp:label>
                                    </div>
                                    <!-- End of Login Left Box -->
                                    <!-- Start of Login Right Box -->
                                    <div class="login_main_right">
                                        <div class="login_r_mid">
                                            <label id="label">Email Id</label>
                                            <span style="float: right; width: 75%;">
                                                @Html.TextBoxFor(x => x.EmailId)
                                                @Html.ValidationMessageFor(x => x.EmailId)
                                            </span>
                                            <label>@ViewBag.ErrorMessage</label>
                                            <label>@ViewBag.EmailErrorMsg</label>
                                            <label>@ViewBag.UsernameErrorMsg</label>

                                            <input type="submit" id="btnSubmit" value="" class="login" />

                                            <div class="txt_msg">
                                                <p>don't forgot password ? <a href="@VenomitIT.Common.NavigationURL.HomePage">CLICK HERE</a><span>* Indicates Required Fields</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Login Right Box --href="dashboard.html">             
                        </div>
                    	<!-- Start of Login Bottom Box -->
                                </div>
                            </div>
                        </div>
                        <!-- End of Main Login Container -->
                    </div>
                    <!-- End of Main Content Container -->
                </div>
                <!-- End of MainFrame -->
            </div>
        </div>


        <!-- Start of Footer MainFrame -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div id="footer_wrapper">
                            <div id="copyright">
                                <span>Copyright &copy; 2014  Venom IT. All rights reserved.</span>
                            </div>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">Public Website</a></li>
                                    <li>|</li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li>|</li>
                                    <li><a href="#">Privacy Policies</a></li>
                                    <li>|</li>
                                    <li><a href="#">FAQs</a></li>
                                    <li>|</li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Footer MainFrame -->
    </form>
</body>
</html>
