@using VenomitIT.Common;
@using VenomitIT.BLL;
@model VenomitIT.DAL.EditCustomerTestimonialModel
@{
    ViewBag.Title = "EditCustomerTestimonial";
}

<div class="container">
    <div class="row">
        <div class="span3">
            @{Html.RenderAction("Leftnav", "Common", new { @DomainId = Model.DomainId });}
        </div>
        <div class="span9">
            <form method="post" id="frmslider" enctype="multipart/form-data">
                @Html.HiddenFor(model => model.DomainId)
                @Html.HiddenFor(model => model.CustomerId)
                <div class="form_area form_area_01">
                    <ul>
                        <li>
                            <label>
                                Description :</label>
                            @Html.TextAreaFor(x => x.Description)
                            @Html.ValidationMessageFor(x => x.Description)
                        </li>

                        <li>
                            <label>
                                Customer Image :</label>
                            <input type="file" name="photo" id="uploadphoto" />
                            @if (Model.CustomerId > 0)
                            {                        
                                <img src="@Model.ImagePath"  width="50" height="50"/>
                            }
                            @Html.ValidationMessageFor(model => model.ImagePath)
                        </li>
                        <li>
                            <label>
                                Is Active :</label>
                            @Html.CheckBoxFor(model => model.IsActive)
                        </li>
                    </ul>
                </div>
                <div class="btn_box23">
                    <input type="submit" value="" id="btnSave" class="save_btn" />
                    <div class="p_detail_btn_box p_detail_btn_box_01" style="width: 137px !important;">
                        <div class="left_box">
                            <input type="button" value="" id="btncancel" onclick="Back()" class="cancel_btn" />
                        </div>



                    </div>
                </div>
            </form>
            <script>
                function Back() {
                    window.location = '@VenomitIT.Common.NavigationURL.ManageCustomerTestimonial' + '@Model.DomainId';
            }
            </script>
        </div>
    </div>
</div>
